@model IEnumerable<Escola.Models.Curso>

@{
    ViewData["Title"] = "Cursos";
}

<h1>Cursos</h1>

<p>
    <a asp-action="Create" type="button" class="btn btn-success">Cadastrar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeCurso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DuracaoCurso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescCurso)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCurso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DuracaoCurso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescCurso)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCurso" type="button" class="btn btn-outline-primary">Editar</a>
                <a asp-action="Details" asp-route-id="@item.IdCurso" type="button" class="btn btn-outline-info">Detalhes</a>
                <a asp-action="Delete" asp-route-id="@item.IdCurso" type="button" class="btn btn-danger">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
