@model Escola.Models.Aluno

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>

<div>
    <h4>Aluno ( @Html.DisplayFor(model => model.NomeAluno) )</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeAluno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeAluno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RgAluno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RgAluno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataNascAluno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataNascAluno)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdAluno" type="button" class="btn btn-outline-primary">Edit</a>
    <a asp-action="Index">Voltar para Alunos</a>
</div>
